body {
    font-family: Oswald, Montserrat;
}

#MainContent_DropDownList1 {
    font-style: italic;
}

.list {
    OVERFLOW: auto;
    height: 200px;
}

select {
    height: 50px;
    background-color: pink;
}