body {
    font-family: Oswald, Montserrat;
}

#MainContent_DropDownList1 {
    font-style: italic;
}

.show-btn {
    position: fixed;
    top: -100px;
    left: -100px;
}

select, .textBox {
    max-width: 25%;
}

.list-wrapper {
    margin-top: 2em;
    OVERFLOW: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: url(/assets/bikes-photo-transp.png);
    background-size: 100% 150%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #707070;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

.listBox {
    height: 480px !important;
    min-width: 25% !important;
}

.listBox:focus, .textBox:focus {
    outline:0;
}

.listBox option {
    font-family: Montserrat;
    text-align: right;
    height: 80px;
    width: 100%;
    color: #707070;
    border: 1px solid #707070;
    box-sizing: border-box;
    padding: 1em 1em 1em 0 !important;
}

.cities {
    font-size: 25px;
}

.stations option {
    padding: 2.2em 1em 1em 0 !important;
    overflow-x: auto;
    text-overflow: ellipsis;
}

.textBox {
    width: 25%;
    height: 160px !important;
    text-align: center;
}