* {
    font-family: Oswald, Montserrat;
}

body {
    padding-top: 0 !important;
}

a:hover {
    text-decoration: none;
}

a {
    color: #707070;
}

.wrapper {
    height: 160px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    padding: 10px;
    flex: .5;
    display: flex;
}

.header a {
    margin: auto 0;
}

.header img {
    border: 1px solid #333;
    box-sizing:border-box;
    background-color: white;
    border-radius: 50%;
}

.texts {
    padding-left: 10px;
    font-family: Oswald;
    color: #707070;
    font-size: 18px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.navigation {
    flex: .7;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #5FAD81;
    border-radius: 15px;
}

.navigation a {
    color: #7B1957 !important;
    font-family: Oswald;
    font-size: 25px;
    color: #333;
    flex: 1;
    text-align: center;
    position: relative;
}

.navigation a::after {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #7B1957;
    width: 0%;
}   

.navigation a:hover::after {
    width: 100px;
}

.navigation a:not(:last-child) {
    border-right: 1px solid #7B1957;
}

.body-content {
    width: 75%;
}