<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Mathieu" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8701/MathsService" binding="basicHttpBinding"
                bindingConfiguration="Mathieu" contract="MathsService.IMathsOperations"
                name="Mathieu" />
        </client>
    </system.serviceModel>
</configuration>